*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    background-color: #fff;
    text-align: center;
    color: #000;
}
form{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.input{
    margin: 10px;
    padding: 8px;
    border-radius: 0.4em;
    border: 2px solid #000;

}
.resultado{
    display: none;
    text-align: left;
    margin: 10px;
    color: #000;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
    border-radius: 0.4em;
}
.resultado div{
    margin-bottom: 5px;
}
button {
    --green: #050102;
    font-size: 15px;
    padding:10px;
    letter-spacing: 0.06em;
    font-family: inherit;
    border-radius: 0.6em;
    max-height: 50px;
    margin: 10px;
    border: 1px solid var(--green);
    background: linear-gradient(to right, rgba(255, 255, 255) 1%, transparent 40%,transparent 60% , rgba(255, 255, 255) 100%);
    color: var(--green);
   }
